<launch>
    <include file="$(find wake_word)/launch/wake_word.launch">
    </include>
    <include file="$(find roboga_stt)/launch/roboga_stt.launch">
    </include>
    <include file="$(find roboga_tts)/launch/roboga_tts.launch">
    </include>
    <include file="$(find roboga_nlu)/launch/rasa_nlu.launch">
    </include>
    <node name="chatbot" pkg="roboga_chatbot" type="planner.py" output="screen" >
    </node>
</launch>